<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Github API</title>
  <link rel="icon" href="carol.png"/>
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  <div class="page_wrapper">
    <form action="" class="form">
      <div class="search">
        <label for="user_search">Escribe el nick de una usuaria de Github</label>
        <div>
          <input type="text" class="input" name="user_search" placeholder="usuari@">
          <button class="btn" type="button">Buscar</button>
        </div>
      </div>
      <div class="user_name">
        <ol class="user_name-list">
      </div>
    </form>
  </div>
  <script src="assets/js/main.js"></script>
</body>
</html>
